*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    font-family: var(--font);
}

p{
    color: var(--color-neutral-D_Grey);
}
:root{
    --color-neutral-White: #FFFFFF;
    --color-neutral-Silver: #F5F7FA;
    --color-neutral-Grey-blue: #ABBED1;
    --color-neutral-L_Grey: #89939E;
    --color-neutral-Grey: #717171;
    --color-neutral-D_Grey: #4D4D4D;
    --color-neutral-Black: #263238;

    --color-Primary: #28CB8B;
    --color-Secondary: #263238;
    --color-Info: #2194f3;

    --color-shade-Shade1: #43A046;
    --color-shade-Shade2: #388E3B;
    --color-shade-Shade3: #237D31;
    --color-shade-Shade4: #1B5E1F;
    --color-shade-Shade5: #103E13;

    --color-tint-Tint1: #66BB69;
    --color-tint-Tint2: #81C784;
    --color-tint-Tint3: #A5D6A7;
    --color-tint-Tint4: #C8E6C9;
    --color-tint-Tint5: #E8F5E9;

    --color-action-Warning: #FBC02D;
    --color-action-Error: #E53835;
    --color-action-Success: #2E7D31;

    --font: "Inter";
}