*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

:root{
    --color-neutral-White: #FFFFFF;
    --color-neutral-Silver: #F5F7FA;
    --color-neutral-Grey-blue: #ABBED1;
    --color-neutral-L_Grey: #89939E;
    --color-neutral-Grey: #717171;
    --color-neutral-D_Grey: #4D4D4D;
    --color-neutral-Black: #263238;

    --color-primary-Primary: #28CB8B;
    --color-primary-Secondary: #263238;
    --color-primary-Info: #2194f3;

    --color-shade-Shade1: #43A046;
    --color-shade-Shade2: #388E3B;
    --color-shade-Shade3: #388E3B;
    --color-shade-Shade4: #388E3B;
    --color-shade-Shade5: #388E3B;

    --font: "Inter";
}